 <% unless false %> 
    <% form_tag session_path do %>
        <label for="login"><b>Usuario</b></label>
        <%= text_field_tag 'login' %>
        <label for="password"><b>Password</b></label>
        <%= password_field_tag 'password' %>
        <div id="lnknewsession"><%= link_to 'Olvid&oacute; su contrase&ntilde;a?', forgot_password_url %></div>
        <div id="buttonnewsession"><%= image_submit_tag "/images/login.gif" %></div>  
      
    <% end %>

 <% end %>
