<% current_menu_item 'login'%>

<div class='contenedor'>
  <fieldset id="fieldset">
  <legend id="SignIn"> Ingresar </legend>
    <div id="formAdmin">
     <% form_tag session_path do -%>
       <p>
         <label for="login"><b>Usuario</b></label><br/>
          <%= text_field_tag 'login' %>
       </p>
       <div id="buttonLogin">
       </div>
       <p>
          <label for="password"><b>Password</b></label><br/>
          <%= password_field_tag 'password' %></p>
       <p>
         <div id="buttonLogin">
            <%= image_submit_tag "/images/login.gif" %>  
         </div>
         <div id="buttonLogin">
            <%= link_to 'Olvid&oacute; su contrase&ntilde;a?', forgot_password_url %> 
         </div>
      </p>
  <% end -%>
  
  </div>
 </fieldset> 
</div>
