<form action="/pizarras/search" method="get">
   <div> <input name="q" type="text" value="" size="40" > </div> 
   <div id="searchbutton"><%= image_submit_tag "/images/buscar.gif" %></div>
</form>









