  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html                                     >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
body{ 
  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #E1E1E1;
}
#titulo{ 
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align:center;
	background: #6699cc;
}

#items {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align:center;
	font-weight: bold;

}
#descripcion {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #FFF;
}
-->
</style></head>

<body>
<table width="500" border="1" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td id="titulo">Pizarra Online 1.0</td>
  </tr>
  <tr>
    <td>
    <table width="100%" border="1" cellpadding="0" cellspacing="5">
            <tr>
              <td width="5" height="12">
                 <span class="style3">
                    <%= image_tag "ver.jpg"%>
                  </span>
              </td>
              <td id="items" colspan="2">
               <div align="left">
                   <span class="style3">
                     P&aacute;gina Principal: 
                   </span>
                 </div>
               </td>
            </tr>
            <tr>
              <td id="descripcion" colspan="3" width="200px;" >
                 <span >
                   Al ingresar al sitio nos encontramos con tres partes:<br></br><br></br>
                   A)<b>Listado de Pizarras Existentes con la Fecha del &Uacute;ltimo Aviso Publicado</b>=> 
                   A trav&eacute;s del &iacute;cono de cada Pizarra podemos accederlas para cargar o ver las notas.<br></br><br></br>
                   B)<b>Buscador de Avisos:</b> Esta herramienta busca el texto ingresado en los avisos de las pizarras.<br></br><br></br> 
                   C)<b>Registraci&oacute;n:</b>
                   
                   </span>
              </td>
            </tr> 
            <tr>
              <td width="5" height="12">
                 <span class="style3">
                    <%= image_tag "ver.jpg"%>
                   </span>
              </td>
              <td id="items" colspan="2">
               <div align="left">
                   <span class="style3">
                     Registraci&oacute;n
                   </span>
                 </div>
               </td>
            </tr>
            <tr>
              <td id="descripcion" colspan="3" width="200px;" >
                 <span >
                  Es el formulario de Resgistraci&oacute;n de nuevos Usuarios.   
                 </span>
              </td>
            </tr> 
             <tr>
              <td width="5" height="12">
                 <span class="style3">
                    
                    <%= image_tag "ver.jpg"%>
                   </span>
              </td>
              <td id="items" colspan="2">
               <div align="left">
                   <span class="style3">
                     Admin
                   </span>
                 </div>
               </td>
            </tr>
             <tr>
              <td id="descripcion" colspan="3" width="200px;" >
                 <span >
                  El sitio cuenta con un sistema de administraci&oacute;n de Pizarras, en el cual los usuarios pueden 
                  administrar las pizarras creadas por ellos mismos.
                  
                  Presenta las siguientes Opciones:<br></br><br></br>
                  
                  A)<b>Listado de Pizarras</b>.<br></br><br></br>
                  B)<b>Cantidad de Avisos por Pizarras:</b> <br></br><br></br>
                  C)<b>Fecha de Creaci&oacute;n de la Pizarra</b> <br></br><br></br>
                  E)<b>Edici&oacute;n de Nombre de Pizarra</b> <br></br><br></br>
                  F)<b>Limpiar Pizarra:</b>=> Borra todos los avisos de la Pizarra, incluyendo el hist&oacute;rico <br></br><br></br>
                  E)<b>Eliminar Pizarra:</b> <br></br><br></br>
                  G)<b>Crear Pizarra</b> <br></br><br></br>
                  
                   
                 </span>
              </td>
            </tr> 
            <tr>
              <td width="5" height="12">
                 <span class="style3">
                    <%= image_tag "ver.jpg"%>
                   </span>
              </td>
              <td id="items" colspan="2">
               <div align="left">
                   <span class="style3">
                     Pizarra: 
                   </span>
                 </div>
               </td>
            </tr>
             <tr>
              <td id="descripcion" colspan="3" width="200px;" >
                 <span >
                  La pizarra esta definida por dos bloques, uno es la pizarra en si, que contiene el listado de avisos
                  publicados en la misma, y el otro bloque es el de las funcionalidades:<br></br><br></br>
                   A)<b>Agregar Nota a Pizarra</b>.<br></br><br></br>
                   B)<b>Per&iacute;odo de Publicaci&oacute;n del aviso</b>.<br></br><br></br>
                   C)<b>Listado de Pizarras</b>.<br></br><br></br>
                   D)<b>Calendario de Pizarras</b>.<br></br><br></br>
                 </span>
              </td>
            </tr> 
           
           
            
            
          </table>
     </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
</body>
</html>
