#titleTR{
 background-image: url('/images/fondo.jpg');
}
#titleTD{
 text-align:center;
 border-bottom:solid 2px #FF9933;
 border-top:solid 2px #FF9933;
 }

#contentBody {
background-image: url('/images/fondo.jpg');
 /*border:1px solid #FF0033;*/
 /*vertical-align:bottom;*/
  
}

#encabezado {
 background:#006666;
}

#pizarra {
  text-align:center;
  z-index:0;
  display:block;
  background:#006666;
  width:700px;
  border:1px solid #000;
  height:350px;
  overflow:auto;
  position:relative;
   
}

.note { 
 background:#FFFF99;
 width:200px;
 height:60px;
 margin-left:23px;
 text-align:center;
 list-style:none;
 cursor: HELP;
 
}
.noteSearch {
 max-height: 150px;
 max-width:150px;
 overflow:auto;
 text-align:center;
 background:#FFFF99;
 margin-bottom: 2px;
}

.notes { 
 float:left;
 z-index:1;
 overflow:auto;
 max-height: 150px;
 max-width:150px;
 /*overflow:hidden;*/
 margin-left:0px;
 background:#FFFF99 url(/images/clip.gif) no-repeat;
 background-position: top;
 width:150px;
 text-align:center;
 list-style:none;
 margin-right: 10px;
 margin-bottom: 2px;
 position:relative;
 height: auto !important;
 cursor : -moz-grab;
 
}

img.progress{
	vertical-align: middle;
	padding: 0 10px;
}

#trash {
 border:0px;
}

#contentNote {
  padding-left:1%;
  width:700px;
  height:300px;
  margin-top:-350px;
  position:absolute; 
}