<% current_menu_item 'SignUp'%>
<div class='contenedor'>
   <fieldset id="fieldset">
       <legend id="SignIn">Activaci&oacute;n de Cuenta</legend>
      
       <p>
          Se envi&oacute; un mail a <%= @user.email %> con las instrucciones  
          para activar su cuenta.
        </p>
        
        <ul id="ulGralString" > 
        <li>
            Si su direcci&oacute;n de correo electr&oacute;nico no es v&aacute;lida, 
            usted debe ir a <%= link_to "Registrarse", signup_path %> 
            de nuevo y proporcionar una direcci&oacute;n de correo 
            electr&oacute;nico v&aacute;lida.
        </li>
        
        <li>
          Si no recibe el mail, chequee su directorio de spam.
        </li>
        </ul>
        </div>
      
    </fieldset>
</div>    